@charset "ISO-8859-1";

body  
{  
    margin: 0;  
    padding: 0;   
    font-family: 'Noto sans';
    
    background-size: cover;
    background-repeat: no-repeat;
}  
.login{  
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background-color: white;
    border-radius: 15px ;  
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
          
}  
h2{  
    text-align: center;  
    color: #000000;  
    padding: 20px;  
}  
label{  
    color: #000000;  
    font-size: 17px;  
   
}  
#username{  
    
    width: 300px;  
    height: 30px;  
    border-radius: 3px;  
    padding-left: 8px;  
    color: #000000;
    box-shadow: black;
    
}  
#password{  
    width: 300px;  
    height: 30px;  
    box-shadow: black;
    border-radius: 3px;  
    padding-left: 8px; 
    color:#000000; 
      
}  
#login{  
    width: 300px;  
    height: 30px;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: rgb(0, 0, 0);  
    box-shadow: black;
  
  
}  
span{  
    color: rgb(0, 0, 0);  
    font-size: 17px;  
}  
a{  
    float: right;  
     
}  